@(keys:List[String], results:String)
@import helper._
@import models.Scraper
@import models.Searcher
@import models.stores.AmazonSearchResult
@import play.api.libs.json._

@makeClass(k:String) = @{
//k.replaceAll("[!\"#$%&'()*+,./:;<=>?@[\\]^`{|}~]", "_")
k.replaceAll("[ ()/#.!]", "_")
}

@displayKey(k:String) = {
@(k match {
case Scraper.K_Url => ""
case Scraper.K_Name => " Product"
case Scraper.K_PhotoUrl => ""
case Scraper.K_Price => " Price"
case Scraper.K_Store => " Store"
case _ => k
} )
}

@main("Side by Side Comparison") {
	<script>
		var results = @Html(results)
	</script>
	<div class="row">
		<div class="span3"><img src="@routes.Assets.at("images/logo.jpg")" width="100"></div>
		<div class="offset6"><a href="#addItemModal" role="button" class="btn btn-primary" data-toggle="modal">Add more products</a></div>
	</div>
<table class="table table-bordered" id="compareGrid">
	<thead>
		<tr><th id="key_@makeClass(Scraper.K_Name)" class="keyColumn"></th></tr>
	</thead>
	<tbody>
	@keys.map { key => @if(key != Scraper.K_Name && key != Scraper.K_Url) {
	<tr>
		<td id="key_@makeClass(key)" class="keyColumn">@displayKey(key)</td>
	</tr>
	} }
	</tbody>
</table>

<div id="addItemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Enter search criteria or a product URL</h3>
	</div>
	<div class="modal-body">
		<p><input type="text" class="input-xlarge" id="inputCriteria" autofocus value="lg refrigerator" placeholder="search criteria or URL">&nbsp;
			<button class="btn" id="btnSearch">Search</button>
			<img src="@routes.Assets.at("images/ajax-loader.gif")" id="loading-indicator" style="display:none" /></p>
		<table id="searchResults" class="table">
			<tr><th>Select</th><th>Results</th></tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true" id="btnCancel">Cancel</button>
		<button class="btn" data-dismiss="modal" id="btnAddAll">Add All</button>
		<button class="btn btn-primary" data-dismiss="modal" id="btnAddSelected">Add Selected</button>
	</div>
</div>

}
