@(elements: helper.FieldElements)

<div class="clearfix @if(elements.hasErrors) {error}">
    <!--<label for="@elements.id">@elements.label</label>-->
    <div class="input">
        @elements.input
        <span class="help-inline">@elements.infos.mkString(", ")</span> 
    </div>
</div>