@(urlEntryForm: Form[List[String]])(searchForm: Form[(String, String)])
@import helper._
@implicitField = @{ FieldConstructor(fields.f) }

@main("Side by Side Comparison") {
	<img src="@routes.Assets.at("images/logo.jpg")" width="150"><br>
	@form(routes.Application.search, 'id -> "searchForm", 'class -> "form-search") {
		<div class="row-fluid"><div class="span6 offset2"><h3>Search for appliances to compare</h3></div></div>
		<div class="row-fluid"><div class="span4 offset1">
			@inputText(searchForm("criteria"), 'class -> "input-xxlarge search-query text-center")<br>
		</div></div>
		<div class="row-fluid"><div class="span4 offset3">
			<button type="submit" class="btn btn-primary">Search</button>
		</div></div>

	}
}
