@(data:List[(String, Array[String])])
@import helper._
@import models.Scraper

@colorize(k:String, vals:Array[String]) = @{
if (k == Scraper.K_Url || k == Scraper.K_Name || k == Scraper.K_PhotoUrl ||
vals.forall(v => (vals(0) == v) || (v.length == 0)))
""
else
"background-color:#FBEFEF"
}

@displayKey(k:String) = {
<button class="btnRemoveRow">&times;</button>
@(k match {
case Scraper.K_Url => ""
case Scraper.K_Name => " Product"
case Scraper.K_PhotoUrl => ""
case Scraper.K_Price => " Price"
case Scraper.K_Store => " Store"
case _ => k
} )
}

@makeClass(k:String) = @{
//k.replaceAll("[!\"#$%&'()*+,./:;<=>?@[\\]^`{|}~]", "_")
k.replaceAll("[ ()/#.!]", "_")
}

@displayValue(k:String, v:String) = { @k match {
case Scraper.K_Url => {<a href='@v'  target="_blank"> See in Store </a>&nbsp;&nbsp;<button class="btnRemoveColumn">&times;</button>}
case Scraper.K_PhotoUrl => {<img src="@v" class="img-product"/>}
case _ => {@v}
}
}

@main("Side by Side Comparison") {

<div class="row">
	<div class="span3"><img src="@routes.Assets.at("images/logo.jpg")" width="100"></div>
	<div class="offset6"><a href="#addItemModal" role="button" class="btn btn-primary" data-toggle="modal">Add more products</a></div>
</div>
<table class="table table-bordered" id="compareGrid">
	<thead><tr><th id="key_@makeClass(Scraper.K_PhotoUrl)" class="keyColumn"></th>
		@for((item,ndx) <- data(2)._2.zipWithIndex) {
		<th class="col_@ndx">@displayValue(data(2)._1, item)</th>
		}
	</tr></thead>
	<tbody>
	@data.map { elem => @if(elem._1 != Scraper.K_PhotoUrl) {
	<tr>
		<td id="key_@makeClass(elem._1)" class="keyColumn">@displayKey(elem._1)</td>
		@defining(colorize(elem._1, elem._2)) { color =>
		@for((item,ndx) <- elem._2.zipWithIndex) {
		<td style="@color" class="col_@ndx">@displayValue(elem._1, item)</td>
		}
		}
	</tr>
	}
	}
	</tbody>
</table>

<div id="addItemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Enter search criteria or a product URL</h3>
	</div>
	<div class="modal-body">
		<p><input type="text" class="input-xlarge" id="inputCriteria" autofocus value="lg refrigerator" placeholder="search criteria or URL">&nbsp;
			<button class="btn" id="btnSearch">Search</button>
			<img src="@routes.Assets.at("images/ajax-loader.gif")" id="loading-indicator" style="display:none" /></p>
		<table id="searchResults" class="table">
			<tr><th>Select</th><th>Results</th></tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true" id="btnCancel">Cancel</button>
		<button class="btn" data-dismiss="modal" id="btnAddAll">Add All</button>
		<button class="btn btn-primary" data-dismiss="modal" id="btnAddSelected">Add Selected</button>
	</div>
</div>

}
